<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'includes/head.html' %}
</head>

<body>
	<div class="tabs-container">
		{% include 'includes/header-tabs.html' %}
		{% include 'includes/header-nav.html' %}
		<div class="main-booking">
			<div id="section1" class="main-contain">
				<div class="panel-container">
					<div class="left">
						<div class="error-message">
							<p>Vaya, parece que no tenemos alojamiento disponible con los criterios seleccionados... ¿Quieres probar de nuevo?</p>
						</div>
						<h2>¿Dónde quieres vivir?</h2>
						<form class="pure-form pure-u-1">
							<fieldset>	
								<label class="label1">Selecciona una ubicación</label>					
								<select class="pure-u-1-1 select1">
									<option>Barcelona</option>
									<option>Apartamento privado</option>
									<option>Residencia universitaria</option>
									<option>Piso compartido</option>
								</select>
								<h3>¿Qué tipo de piso estás buscando?</h3>
								<div class="background">
									<input name="piso compartido" type="radio" value="compartido" >
									<em class="checkmark"></em>
									<label class="labels">Piso Compartido</label>
								</div>
								<div class="background">
									<input name="apartamento privado" type="radio" value="privado">
									<em class="checkmark"></em>
									<label class="labels">Apartamento Privado</label>
								</div>
								<h3>¿En qué tipo de habitación?</h3>
								<div class="background">
									<input name="Habitación Individual" type="radio" value="individual">
									<em class="checkmark"></em>
									<label class="labels">Habitación Individual</label>
								</div>
								<div class="background">
									<input name="Habitación Compartida" type="radio" value="compartida">
									<em class="checkmark"></em>
									<label class="labels">Habitación Compartida</label>
								</div>								
								<h3>¿En qué tipo de habitación?</h3>
								<div class="background">
									<input name="Habitación Individual" type="radio" value="individual">
									<em class="checkmark"></em>
									<label class="labels">Habitación Individual</label>
								</div>
								<div class="background">
									<input name="Habitación Compartida" type="radio" value="compartida">
									<em class="checkmark"></em>
									<label class="labels">Habitación Compartida</label>
								</div>
								<h3>¿En qué fechas?</h3>
								<div class="inputs-container">
									
									<div class="dates">
										<button class="date-button">
											<label>Fecha de entrada</label>	
											<input type="text" id="in" onfocus="" class="inputs" name="in" placeholder="dd/mm/aaaa"/>
										</button>
									</div>									
								</div>
								<section class="next">
									<button class="btn-secondary">
										Continuar
									</button>
								</section>
							</fieldset>
						</form>						
					</div>
					<div class="right">
						<div class="img-big">
							<img class="big" alt="cotownity-big" src="/assets/img/cotownity-big.png">
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</body>

</html>