<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'en/includes/head.html' %}
</head>

<body>
  <div class="tabs-container">
    {% include 'en/includes/header-tabs.html' %}
    {% include 'en/includes/header-nav.html' %}
    <div class="main-booking">
      <div id="section3" class="main-contain">
        <div class="panel-container">                
          <div class="left tab3">          
            <h2>Reserva tu habitación</h2>  
            <form class="pure-form pure-u-1">
              <fieldset>
                <div class="login">
                  <h3>Iniciar sesión</h3>
                  <p>Utiliza tus credenciales para acceder a tu área privada.</p>
                  <div class="campo">
                    <label class="label">Email</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Tu email">
                  </div>
                  <div class="campo psw">
                    <label class="label">Contraseña</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Tu contraseña">
                  </div>
                  <p class="advise">Si ha olvidado su contraseña o dirección de correo electrónico, puedes restablecerlas utilizando nuestro formulario de recuperación de contraseña.</p>
  
                  <section class="next">
                    <button class="btn-secondary">
                      Continuar
                    </button>
                  </section>
                </div>
                <div class="logged-booking">
                  <h3>Reservar</h3>
                  <p>Comprueba tus datos si ya estás registrado.</p>
                  <section class="data1">
                    <div class="campo">
                      <label class="label">Nombre</label>                  
                      <input class="input" type="name" id="name" name="name" placeholder="Ej. Nombre">
                    </div>
                    <div class="campo">
                      <label class="label">Apellidos</label>                  
                      <input class="input" type="name" id="name" name="name" placeholder="Ej. Apellidos">
                    </div>
                    <div class="campo">
                      <label class="label">Email</label>                  
                      <input class="input" type="name" id="name" name="name" placeholder="Tu email">
                    </div>
                  </section>
                  <section class="data2">
                    <div class="campo code">
                      <label>Código</label>          
                      <select class="pure-u-1-1">
                        <option>+34</option>                  
                      </select>
                    </div>                  
                    <div class="campo phone">
                      <label class="label">Número de teléfono</label>                  
                      <input class="input" type="name" id="name" name="name" placeholder="Ej. 1234567891">
                    </div>
                  </section>
                  <div class="campo">
                    <div class="dates">
                      <label>Fecha de nacimiento</label>  
                      <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="02/06/2023"/>
                    </div>
                  </div>
                  <section class="data3">
                    <div class="campo">
                      <label>Nacionalidad</label>          
                      <select class="pure-u-1-1">
                        <option>Seleccionar</option>
                      </select>
                    </div>
                    <div class="campo">
                      <label>Género</label>          
                      <select class="pure-u-1-1">
                        <option>Seleccionar</option>
                      </select>
                    </div>
                    <div class="campo motive">
                      <label>Motivo de la estancia</label>          
                      <select class="pure-u-1-1">
                        <option>Seleccionar</option>
                      </select>
                    </div>
                  </section>
                  <section class="book">
                    <button class="btn-secondary">
                      Reservar
                    </button>
                  </section>
                </div>


                <div class="registry">
                  <h3 class="record">Registro</h3>
                <p>En caso que no te hayas registrado todavía, necesitaremos los siguientes datos de contacto para formalizar tu reserva.</p>
                <section class="data1">
                  <div class="campo">
                    <label class="label">Nombre</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Ej. Nombre">
                  </div>
                  <div class="campo">
                    <label class="label">Apellidos</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Ej. Apellidos">
                  </div>
                  <div class="campo">
                    <label class="label">Email</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Tu email">
                  </div>
                </section>
                <section class="data2">
                  <div class="campo code">
                    <label>Código</label>          
                    <select class="pure-u-1-1">
                      <option>+34</option>                  
                    </select>
                  </div>                  
                  <div class="campo phone">
                    <label class="label">Número de teléfono</label>                  
                    <input class="input" type="name" id="name" name="name" placeholder="Ej. 1234567891">
                  </div>
                </section>
                <div class="campo">
                  <div class="dates">
                    <label>Fecha de nacimiento</label>  
                    <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="02/06/2023"/>
                  </div>
                </div>
                <section class="data3">
                  <div class="campo">
                    <label>Nacionalidad</label>          
                    <select class="pure-u-1-1">
                      <option>Seleccionar</option>
                    </select>
                  </div>
                  <div class="campo">
                    <label>Género</label>          
                    <select class="pure-u-1-1">
                      <option>Seleccionar</option>
                    </select>
                  </div>
                  <div class="campo motive">
                    <label>Motivo de la estancia</label>          
                    <select class="pure-u-1-1">
                      <option>Seleccionar</option>
                    </select>
                  </div>
                </section>
                <section class="book">
                  <button class="btn-secondary">
                    Reservar
                  </button>
                </section>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="right tab3">
            <div class="resume">
              <h3>Resumen de reserva</h3>
              <p>Ubicación</p>
              <div class="resume-edit">
                <h4>Barcelona</h4>
                <!--
                <button class="btn-text">
                  <em class="icon-write"></em>
                  <p>Editar</p>
                </button>
                -->
              </div>
              <div class="dates">
                <div class="in">
                  <p>ENTRADA</p>
                  <h4>22/04/2023</h4>
                </div>
                <div class="out">
                  <p>SALIDA</p>
                  <h4>22/04/2023</h4>
                </div>                
              </div>
              <div class="type-resume">
                <h4>Habitación estándar con 
                  baño privado</h4>                
                <p>C/ Nàpols 206</p>                                                          
              </div>
              <div class="breakdown">
                <h4>Desglose del precio</h4>
                <div class="prices">
                  <p>Booking fee (?)</p>
                  <p>XXX€</p>
                </div>              
                <div class="prices">
                  <p>Garantía (?)</p>
                  <p>XXX€</p>
                </div>
                <div class="total">
                  <p>Total pago único (?)</p>
                  <p>XXX€</p>
                </div>            
              </div>
              <div class="renta">
                <h3>Renta media mensual</h3>
                <h3>925€ (+)</h3>
              </div>
              <p class="advise">* Suministros de agua, gas y luz incluidos en el importe mensual hasta X€/mes.</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</body>
</html>
