<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'en/includes/head.html' %}
</head>

<body>
	<div class="tabs-container">
		{% include 'en/includes/header-tabs.html' %}
		{% include 'en/includes/header-nav.html' %}
		<div class="main-booking">
			<div id="section3" class="main-contain">
				<div class="panel-container">				
					<h2>cuarto panel</h2>
					<p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
					<p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
