*/5 * * * * cd /home/azureuser/cotown/dev/app; sh dobatch.sh bill dev     >> log/bill.log 2>&1
*/5 * * * * cd /home/azureuser/cotown/pre/app; sh dobatch.sh bill pre     >> log/bill.log 2>&1

*/5 * * * * cd /home/azureuser/cotown/dev/app; sh dobatch.sh contract dev >> log/contract.log 2>&1
*/5 * * * * cd /home/azureuser/cotown/pre/app; sh dobatch.sh contract pre >> log/contract.log 2>&1

*/5 * * * * cd /home/azureuser/cotown/dev/app; sh dobatch.sh email dev    >> log/email.log 2>&1
*/5 * * * * cd /home/azureuser/cotown/pre/app; sh dobatch.sh email pre    >> log/email.log 2>&1

*/5 * * * * cd /home/azureuser/cotown/dev/app; sh dobatch.sh load dev     >> log/load.log 2>&1
*/5 * * * * cd /home/azureuser/cotown/pre/app; sh dobatch.sh load pre     >> log/load.log 2>&1
