aiohttp==3.9.5
cachetools==5.3.3
dynaconf==3.2.5
flasgger==0.9.7.1
Flask==3.0.3
gql==3.5.0
gunicorn==20.1.0
Markdown==3.6
num2words==0.5.13
openpyxl==3.1.5
pandas==2.2.2
psycopg2-binary==2.9.9
pycryptodome==3.20.0
requests==2.32.3
schwifty==2024.6.1
sshtunnel==0.4.0
weasyprint==62.3
