# Procesos Core
00,15,30,45 * * * * cd /home/cotown/app; sh ./dobatch.sh billing
03,18,33,48 * * * * cd /home/cotown/app; sh ./dobatch.sh printbill
06,21,36,51 * * * * cd /home/cotown/app; sh ./dobatch.sh printcontract
09,24,39,54 * * * * cd /home/cotown/app; sh ./dobatch.sh processload
12,27,42,57 * * * * cd /home/cotown/app; sh ./dobatch.sh sendemail

# Procesos Web
0 8-20/2 * * * sh /home/cotown/www/webs/gen.sh publish vanguard
0 9-21/2 * * * sh /home/cotown/www/webs/gen.sh publish cotown
#0 8-21/2 * * * sh /home/cotown/www/webs/gen.sh draft vanguard  develop
#0 9-21/2 * * * sh /home/cotown/www/webs/gen.sh draft cotown develop
