0 * * * * cd /home/cotown/app; sh ./dobatch.sh sendemail
0 * * * * cd /home/cotown/app; sh ./dobatch.sh processload
0 * * * * cd /home/cotown/app; sh ./dobatch.sh printbill
0 * * * * cd /home/cotown/app; sh ./dobatch.sh printcontract
0 * * * * cd /home/cotown/app; sh ./dobatch.sh billing
0 8-18/2 * * * sh /home/cotown/www/webs/gen.sh publish vanguard