*/1  * * * * cd /app; sh ./dobatch.sh sendemail
*/5  * * * * cd /app; sh ./dobatch.sh processload
*/5  * * * * cd /app; sh ./dobatch.sh printbill
*/15 * * * * cd /app; sh ./dobatch.sh printcontract
*/15 * * * * cd /app; sh ./dobatch.sh billing
