<p>¡Hey {{Customer.Name}}!</p>
<p>¡¡¡Enhorabuena!!! Tu reserva ha sido CONFIRMADA:</p>
<ul>
<li>Apartamento: {{Resource_address}}</li>
<li>Tipología de habitación: {{Resource_type}} </li>
<li>Entrada/Salida: {{Booking_date_from_day}}/{{Booking_date_from_month}}/{{Booking_date_from_year}}</li>
<li>Tarifa/mes: </li>
</ul>
<p>Si ya sabes la fecha y hora de llegada, rellena el formulario en este <a href="https://cotown.com/check-in/">enlace</a>.</p>
<p>También es importante que leas las normas internas que deberás firmar y enviar firmadas a <a href="mailto:hola@cotown.com">hola@cotown.com</a>.</p>
<p>¡Hemos creado grupos de WHATSAPP para que no te pierdas nada de lo que ocurre en el edificio!</p>
<p>Os informaremos de todas las novedades, eventos y avisos de mantenimiento.</p>
<p>Solamente debes hacer click en el enlace del grupo de tu edificio o escanear el QR que encontrarás en tu piso:</p>
<ul>
<li>ARTESANIA 30: <a href="https://bit.ly/Artesania30">https://bit.ly/Artesania30</a></li>
<li>BALMES 335: <a href="https://bit.ly/Balmes335">https://bit.ly/Balmes335</a></li>
<li>CÓRSEGA 207: <a href="https://bit.ly/Corsega207">https://bit.ly/Corsega207</a></li>
<li>ENCARNACIÓ 160: <a href="https://bit.ly/Encarnacio160">https://bit.ly/Encarnacio160</a></li>
<li>GRAN VIA 598: <a href="https://bit.ly/GranVia598">https://bit.ly/GranVia598</a></li>
<li>NÁPOLS 206: <a href="https://bit.ly/Napols206">https://bit.ly/Napols206</a></li>
<li>RAMÓN ALBÓ 6: <a href="https://bit.ly/RamonAlbo6">https://bit.ly/RamonAlbo6</a></li>
<li>RODRIGUEZ DE CEPEDA 44: <a href="https://bit.ly/RodDeCepeda44">https://bit.ly/RodDeCepeda44</a></li>
<li>ROCAFORT 219: <a href="https://bit.ly/Rocafort219">https://bit.ly/Rocafort219</a></li>
<li>ROBRENYO 65-67-69: <a href="https://bit.ly/Robrenyo">https://bit.ly/Robrenyo</a></li>
<li>TRAVESSERA DE GRÀCIA 43: <a href="https://bit.ly/Trav 43">https://bit.ly/Trav 43</a></li>
</ul>
<p>¡Ah! tu seguridad es lo más importante. Por eso, debes leer la cláusula de consentimiento en la que recalca que tu número aparecerá visible para los demás residentes. <a href="https://bit.ly/2ZQaWte">https://bit.ly/2ZQaWte</a></p>
<p>No olvides seguirnos en Instagram para enterarte de todo: <a href="https://www.instagram.com/cotown_es/">@cotown_es</a></p>
<p>Si deseas realizar algún cambio, necesitas asistencia o simplemente te apetece hablar con nosotros, no dudes en contactarnos :)</p>

