<p>Hi {!user!},</p> 
<p>Congratulations! Your booking is CONFIRMED:</p>
<ul>
<li>Apartment: {{Resource_address}}</li>
<li>Type of room:  {{Resource_type}} </li>
<li>Check-in/Check-out: {{Booking_date_from_day}}-{{Booking_date_from_month}}-{{Booking_date_from_year}}  /  {{Booking_date_to_day}}-{{Booking_date_to_month}}-{{Booking_date_to_year}}</li>
<li>Rate/month: </li>
</ul>
<p>If you already know your arrival details, fill in the form on <a href="https://cotown.es/checkin-form/">this link</a>.</p>
<p>It is also important that you read the internal rules which you must sign and send to <a href="mailto:hola@cotown.com">hola@cotown.com</a>.</p>
<p>We have created WHATSAPP groups so that you don't miss anything that happens in the building!</p>
<p>We will inform you of all the news, events and maintenance notices.</p>
<p>Just click on the link of the group of your building:</p>
<ul>
<li>ARTESANIA 30: <a href="https://bit.ly/Artesania30">https://bit.ly/Artesania30</a></li>
<li>BALMES 335: <a href="https://bit.ly/Balmes335">https://bit.ly/Balmes335</a></li>
<li>CÓRSEGA 207: <a href="https://bit.ly/Corsega207">https://bit.ly/Corsega207</a></li>
<li>ENCARNACIÓ 160: <a href="https://bit.ly/Encarnacio160">https://bit.ly/Encarnacio160</a></li>
<li>GRAN VIA 598: <a href="https://bit.ly/GranVia598">https://bit.ly/GranVia598</a></li>
<li>NÁPOLS 206: <a href="https://bit.ly/Napols206">https://bit.ly/Napols206</a></li>
<li>PRINCESA 19: <a href="https://bit.ly/Princesa19">https://bit.ly/Princesa19</a></li>
<li>RAMÓN ALBÓ 6: <a href="https://bit.ly/RamonAlbo6">https://bit.ly/RamonAlbo6</a></li>
<li>RODRIGUEZ DE CEPEDA 44: <a href="https://bit.ly/RodDeCepeda44">https://bit.ly/RodDeCepeda44</a></li>
<li>ROCAFORT 219: <a href="https://bit.ly/Rocafort219">https://bit.ly/Rocafort219</a></li>
<li>ROBRENYO 65-67-69: <a href="https://bit.ly/Robrenyo">https://bit.ly/Robrenyo</a></li>
<li>TRAVESSERA DE GRÀCIA 43: <a href="https://bit.ly/Trav43">https://bit.ly/Trav43</a></li>
</ul>
<p>Ah! your safety is the most important thing. That's why you should read the consent clause, which stresses that your number will be visible to other residents. <a href="https://bit.ly/2ZQaWte">https://bit.ly/2ZQaWte</a></p>

