<p>Hi again {!user!},</p> 
<p>Congratulations! Your booking request has been accepted!</p>
<p>Please find below your reservation details:</p>
<ul>
<li>Apartment: {{Resource_address}}</li>
<li>Type of room: {{Resource_type}}</li>
<li>Check-in/Check-out: {{Booking_date_from_day}}-{{Booking_date_from_month}}-{{Booking_date_from_year}}  /  {{Booking_date_to_day}}-{{Booking_date_to_month}}-{{Booking_date_to_year}}</li>
</ul>
<p>IMPORTANT: In order to confirm your booking, you must log into your internal user area and submit the confirmation payment. This should be done within the next 5 days. You can use this link just once.</p>
<p>Additionally, please we need you to upload your documentation to your internal area so we can start preparing your contract and manage your arrival :)</p>
<p>Access to your internal area and set up your own password. Write your e-mail for the user field.</p>
<p>We also remind you to read the booking conditions that you will find in your internal area.</p>
<p>If you need any help, or have any question please don't hesitate to contact us at <a href="mailto:book@cotown.com">book@cotown.com</a>.</p>
<p>Best regards :)</p>