<p>Hola de nuevo {{Customer.Name}},</p>
<p>¡Enhorabuena, tu reserva ha sido aceptada!</p>
<p>A continuación, te recordamos los detalles de tu reserva:</p>
<ul>
<li>Apartamento: {{Resource_address}}</li>
<li>Tipología de habitación: {{Resource_type}} </li>
<li>Entrada/Salida: {{Booking_date_from_day}}/{{Booking_date_from_month}}/{{Booking_date_from_year}}</li>
</ul>
<p>IMPORTANTE: Para confirmar tu reserva, necesitamos que accedas a tu área privada de usuario y realices el pago de confirmación. Recuerda que dispones de 5 días para realizar el pago y confirmar la reserva. Este enlace es de un solo uso.</p>
<p>Asimismo, por favor te rogamos que subas toda la documentación necesaria en ese mismo lugar, para que podamos preparar el contrato de alquiler y coordinar tu llegada.
Accede a tu área interna y crea tu propia contraseña. Tu usuario es la dirección de e-mail con la que has realizado la solicitud.</p>
<p>Recuerda leer las condiciones de reserva, en el apartado de Booking Conditions de tu área interna.</p>
<p>Si necesitas ayuda o tienes alguna duda, contáctanos a través de <a href="mailto:book@cotown.com">book@cotown.com</a>.</p>
<p>Un saludo :)</p>
