<p>Hi {{Customer.Name}},</p>
<p>
<p>Thank you for submitting your reservation request. We have received the following details:</p>
<ul>
    <li>Building: {{Building_address}}, {{Building_city}}</li>
    <li>Apartment: {{Flat_type}}</li>
    <li>Room Type: {{Place_type}}</li>
    <li>Check-in/Check-out:{{Booking_date_from_day}}-{{Booking_date_from_month}}-{{Booking_date_from_year}}  /  {{Booking_date_to_day}}-{{Booking_date_to_month}}-{{Booking_date_to_year}}</li>
</ul>
<p>Our booking department is now reviewing your request, and will get back to you shortly with more details.</p>
<p>Don't forget to check our Instagram account to be updated about news and special deals: @cotown_es and @vanguardstudenthousing.</p>
<p>Talk to you soon, thank you!</p> 