<p>Hola {{Customer.Name}},</p>
<p>
Te confirmamos que hemos recibido correctamente tu petición de reserva para:
</p>
<ul>
<li>Edificio: {{Building_address}}, {{Building_city}}</li>
<li>Tipología de piso: {{Flat_type}} </li>
<li>Tipología de habitación: {{Place_type}} </li>
<li>Entrada/Salida: {{Booking_date_from_day}}-{{Booking_date_from_month}}-{{Booking_date_from_year}}  /  {{Booking_date_to_day}}-{{Booking_date_to_month}}-{{Booking_date_to_year}}</li>
</ul>
<p>El Departamento de Reservas está revisando tu solicitud.</p>
<p>
Muy pronto te contactaremos con más detalles y próximos pasos. Por ahora,
échale un vistazo a nuestro Instagram para enterarte de ofertas y
novedades: @cotown_es y @vanguardstudenthousing
</p>
<p>¡Muchas gracias y hasta pronto!</p>
